<ion-header>
   
  <ion-toolbar color="secondary">
    <ion-title>Beautycare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>SIGN IN</ion-title>
  <ion-card>
    <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
       
       <ion-label>USERNAME:</ion-label><ion-input placeholder="Enter your username.."></ion-input><br>
       <ion-label>PASSWORD:</ion-label><ion-input placeholder="Enter your password.." type="password"></ion-input>
   
      </ion-col>
      <ion-label>Don't have account with us? </ion-label><a href="">Sign up with us!</a>
    </ion-row>
    </ion-card-header>  
  </ion-card>
</ion-content>
