<ion-header>
   
  <ion-toolbar color="secondary">
    <ion-title>Beautycare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>WELCOME TO BEAUTYCARE</ion-title>
  <ion-card>
    <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
       
        <ion-button color="light" size="medium">VENDOR</ion-button><br>
        <ion-button color="light" size="medium">GUEST</ion-button>
   
      </ion-col>
    </ion-row>
    </ion-card-header>  
  </ion-card>
</ion-content>
