<ion-header>
   
  <ion-toolbar color="secondary">
    <ion-title>Beautycare</ion-title>
    <!-- <ion-tabs>
      <ion-tab-button>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-tab-button>
    </ion-tabs> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-col>
    <ion-grid>
      <ion-row>
        <ion-card-header>
          CHOOSE YOUR PLAN
        </ion-card-header>
        <ion-card-content>
        <ion-list>
          <ion-item>
            Basic plan <br>
            <!-- choose <ion-checkbox></ion-checkbox><br> -->
            $10.00 <br> 20 products <br> revenue up to $150 <br> 5% transaction
          </ion-item>
          <ion-item>
            Standard plan <br>
            <!-- choose <ion-checkbox></ion-checkbox><br> -->
            $10.00 <br> 20 products <br> revenue up to $150 <br> 5% transaction
          </ion-item>
          <ion-item>
            Premium plan <br>
            <!-- choose <ion-checkbox></ion-checkbox><br> -->
            $10.00 <br> 20 products <br> revenue up to $150 <br> 5% transaction
          </ion-item>
        </ion-list>
      </ion-card-content>
    
      </ion-row>
    </ion-grid>
  </ion-col>
   <ion-button >Sign up</ion-button>
</ion-card>
</ion-content>
