<ion-header>
   
  <ion-toolbar color="secondary">
    <ion-title>Beautycare</ion-title>
    <!-- <ion-tabs>
      <ion-tab-button>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-tab-button>
    </ion-tabs> -->
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        SIGN UP
      </ion-col>  
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <form action="">
    <ion-label>COMPANY NAME: </ion-label><ion-input placeholder="Enter your company name.."></ion-input><br>
    <ion-label>COMPANY ADDRESS: </ion-label><ion-textarea placeholder="Enter your company address.."></ion-textarea><br>
    <ion-label>BUSINESS CERTIFICATE: </ion-label> <ion-button>Upload</ion-button><br>
    <ion-label>USERNAME:</ion-label><ion-input placeholder="Enter your username.."></ion-input><br>
    <ion-label>PASSWORD:</ion-label><ion-input placeholder="Enter your password.." type="password"></ion-input><br>
    <ion-label>PASSWORD:</ion-label><ion-input placeholder="Re-enter your password.." type="password"></ion-input><br>
    <ion-label>EMAIL:</ion-label><ion-input placeholder="Enter your email.." type="email"></ion-input><br>
    <ion-button>Next</ion-button>
</form>

  </ion-card-content>
</ion-card>

</ion-content>
